/* Size's are Temporary */
label {
  font-size: 15px;
  cursor: default;
}

.lego-part-background {
  background-color: #d9d9d9;
  height: 375px;
  width: 175px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
}

.lego-part-img {
  height: 35%;
  width: 85%;
  margin-top: 12px;
  border-radius: 10px;
  filter: drop-shadow(0 1.5px 0.15rem gray);
}

.lego-part-id {
  margin: 5px;
  font-size: 15px;
}

.lego-part-title {
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.lego-part-vars-background {
  margin-top: 8px;
  background-color: #bfbfbf;
  height: 30%;
  width: 90%;
  border-radius: 20px;
  text-align: left;
  padding: 5px;
}

.lego-part-var {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lego-part-var label {
  width: 40%;
  text-align: left;
}

.lego-part-input-box {
  font-size: 16px;
  padding-left: 5px;
  width: 45%;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  text-align: center;
}

.lego-part-button {
  margin-top: 8px;
  height: 6%;
  width: 90%;
  border: none;
  border-radius: 5px;
  background-color: #575757;
  color: white;
  font-size: 16px;
  margin-bottom: 6px;
  cursor: not-allowed;
}

.lego-part-button.valid {
  background-color: #4340dc;
  cursor: pointer;
}

.lego-part-button.valid:hover {
  background-color: #5a58d2;
}

.lego-part-select-box {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.lego-part-input-box,
.lego-part-select-box {
  width: 52%; /* Adjust input width to match label */
  border-radius: 5px;
  border: none;
  font-size: 14px;
}
