/* Size's are Temporary */
label {
  font-size: 15px;
  cursor: default;
}

.lego-part-background {
  background-color: #d9d9d9;
  height: 400px;
  width: 200px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  padding: 10px;
}

.lego-part-img {
  height: 35%;
  width: 85%;
  margin-top: 12px;
  border-radius: 10px;
  object-fit: cover;
  filter: drop-shadow(0 1.5px 0.15rem gray);
}

/* Part ID and title */
.lego-part-id,
.lego-part-title {
  margin: 5px 0;
  text-align: center;
  font-size: 15px;
}

.lego-part-scroll-text {
  flex-shrink: 0;
  max-height: 40px;
  overflow-y: scroll;
  position: relative;
}

.lego-part-scroll-text::before {
  content: "↓";
  position: absolute;
  bottom: 0;
  right: 2px;
  font-size: 13px;
  font-weight: bold;
  color: #575757;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.lego-part-vars-background {
  margin-top: 10px;
  background-color: #bfbfbf;
  height: 45%;
  width: 90%;
  border-radius: 20px;
  text-align: left;
  padding: 10px;
}

.lego-part-var {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lego-part-var label {
  width: 40%;
  text-align: left;
}

.lego-part-input-box {
  font-size: 16px;
  height: 25px;
  padding-left: 5px;
  width: 35%; /* Adjust width for better alignment */
  border-radius: 5px;
  font-weight: 600;
  border: none;
  text-align: center;
}

.lego-part-button {
  margin-top: 8px;
  height: 35px; /* Adjust height */
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #575757;
  color: white;
  font-size: 16px;
  margin-bottom: 6px;
  cursor: not-allowed;
}

.lego-part-button.valid {
  background-color: #4340dc;
  cursor: pointer;
}

.lego-part-button.valid:hover {
  background-color: #5a58d2;
}

.lego-part-select-box {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  height: 30px;
}

/* Always show arrows for number input in WebKit browsers (Chrome, Safari) */
input[type="number"] {
  appearance: textfield; /* Standard property for compatibility */
  -webkit-appearance: textfield; /* Removes default spinner style */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1; /* Ensure the spinner is always visible */
}

/* 
.lego-part-input-box,
.lego-part-select-box {
  width: 52%; 
  border-radius: 5px;
  border: none;
  font-size: 14px;
}
*/
